.home {
    min-height: 100%;

}

.home h2 {
    font-size: 1.5rem;
}

.nav-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    text-decoration: none;
    font-family: inherit;
}

.nav-card {
    width: 400px;
    padding: 1rem;
    margin: 1rem;
    border: 0.4px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav-card:hover {
    background-color: rgb(136, 189, 247);
}

.nav-cards a {
    text-decoration: none;
    color: orangered;
    font-size: 0.9rem;
}

.nav-card h4 {
    text-shadow: 0.1px 0.1px #333;
    font-size: 1rem;
}

.nav-card p {
    font-size: 0.9rem;
}