.seemore {
    max-width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.content1 {

    width: 650px;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(160deg, #46afec 0%, #90d6ce 100%);
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.content2 {
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.content1 h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #3b3939;
    text-transform: capitalize;
}

.content1 #flag {
    width: 100px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
}

.seemore p {
    margin-bottom: 10px;
}

.content1 #recipe-pic {
    max-width: 99%;
    margin-bottom: 20px;
}

.seemore .ingredients {
    margin-bottom: 20px;
}

.seemore .ingredients h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.seemore .ingredients li {
    margin-bottom: 5px;
}

.seemore button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 6rem 0 0.5rem 0;
}

.seemore button:hover {
    background-color: #666;
}

.ingredients table {
    border: solid 1px black;
    margin: auto;
}

.ingredients table th,
td {
    background-color: rgb(246, 176, 72);
    border: solid 1px black;
    padding: 0.4em;
}

#description,
#instructions {
    text-align: justify;
    padding: 0 0.8rem 0 0.8rem;
}

/* ***Mobile settings for max-width:414px*** */
@media screen and (max-width: 414px) {
    .seemore {
        display: flex;
        flex-direction: column;
    }

    .content1 {
        width: 340px;
    }

    .content2 {
        width: 340px;
        margin-top: 1rem;
    }

    .seemore button {
        font-size: 10px;
    }
}